<!DOCTYPE html>
<html>
<head>
	<title>Welcome page</title>
	<style>
		a{
			color:red;
			font-weight:700;
		}
		.heading{
			color:red;
		}
		#first{
			color:green;
		}
		*{
			border:1px solid red;
			/*margin: 12px*/
			padding:3px

		}
		a:hover{
			color:yellow;
		}
		a:visited{
			color:green;
		}
	</style>
</head>
<body>
<h1 id="first" class="heading" align="center">Welcome Page</h1>
<p>Go back to {{</p>
<!--
<br>
<h2 align="center">Welcome Page</h2>
<br>
<h3 align="center">Welcome Page</h3>
<br>
<h4 align="center">Welcome Page</h4>
<h5 align="center">Welcome Page</h5>
<p><a href="https://www.google.co.in/?gfe_rd=cr&dcr=0&ei=DLqzWcVTio3xB5Wss_AL&gws_rd=ssl">REDIRECT HERE</a></p>-->
</body>
</html>